* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galery{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    width: 70%;
    height: 100vh;
    border-radius: 20px;
}

